body .unregistered-home {
  padding: 0 30px;
}
.form-wrapper {
  text-align: center;
  padding: 30px;
}
.login {
  padding-bottom: 40px;
  border-bottom: 1px solid #777777;
}
.login h2, .register h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

form > div {
  margin: 20px auto;
  vertical-align: top;
}

label {
  display: block;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

input, select, textarea {
  border-radius: 20px;
  border: 1px solid #777777;
  padding: 12px 16px;
  width: 60%;
}

input::placeholder, select::placeholder, textarea::placeholder {
  font-size: 16px;
  font-weight: 200;
  color: #505050;
}

textarea {
  min-height: 80px;
}

form {
  max-width: 100%;
}

.login form > div {
  width: 50%;
}

.unregistered-home .button {
  display: block;
  padding: 8px 40px;
}
.login p, .register p {
  font-family: 'Nunito', sans-serif;
  margin-top: 20px;
}

.filters select {
  color: #505050;
  font-size: 14px;
  padding-right: 50px;
}

.select-wrapper {
  position: relative;
  width: 60%;
  max-width: 300px;
  max-height: 40px;
  margin: 0 auto 0;
}

.filters .select-wrapper {
  max-height: unset;
  margin-bottom: 20px;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  display: block;
  top: 19px;
  right: 20px;
  width: 12px;
  height: 8px;
  background: url(../images/chevron-down-grey.svg) center no-repeat;
  background-size: cover;
}

.select-wrapper select {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .unregistered-home {
    display: flex;
  }

	.form-wrapper {
    display: inline-block;
    width: 49.5%;
    text-align: center;
    padding: 0 30px 30px;
  }

  .login {
    width: 37%;
    border-bottom: none;
    border-right: 1px solid #777777;
    margin-right: 60px;
  }

  form > div {
    display: inline-block;
    width: 45.5%;
    margin-bottom: 16px;
    margin-right: 20px;
  }

  label {
    margin-top: 0;
  }

  input, select, textarea {
    width: 90%;
  }
  select {
    /* height: 50px; */
    border-radius: 30px !important;
  }
  form .button {
    margin-top: 40px;
  }
  .select-wrapper {
    width: 100%;
  }
}




.button {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease-in-out;
}

.button:hover {
  background: rgba(254, 211, 161, 0.75);
}

a {
  font-family: 'Nunito', sans-serif;
  color: black;
  transition: 0.5s all;
}
a:hover {
  color: #e57900;
}