.profile-section {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

.course-title {
  font-weight: none;
  margin-bottom: 20px;
}

body {
  height: 100%;
}

.reviews {
  height: 100vh;
  overflow: auto;  
}

.rating > .checked {
  margin-top: 10px;
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 20px;
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

i {
  margin-left: 5px;
}

main {
  height: calc(100vh - 80px);
  overflow: hidden;
}

.main {
  height: 100%;
  overflow: scroll;
}
