.review {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.final-rating {
  align-self: flex-end;
  margin-bottom: 10px;
}

.ratings {
  margin-bottom: 20px;
}


@media screen and (min-width: 1024px) {
  .main-center {
    margin: auto;
    width: 50%;
  }
}

.main-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.action {
  text-decoration: underline;
}
