@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "forms.css";
@import "navbar.css";
@import "home.css";
/* @import "course.css";
@import "profile.css";
@import "reviews.css"; */

* {
	padding: 0;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
}

nav {
	background-color: white;
	height: 80px;
}

nav *, h1, h2, h3, h4, h5, h6, .button, label, input, input::placeholder, .rating, .title, .name, input, select, textarea {
	font-family: 'Nunito', sans-serif;
}

h3, h4, h5, h6 {
	font-weight: 400;
	margin-bottom: 16px;
}

h1 {
	margin-top: 25px;
	margin-bottom: 30px;
}

p {
	margin-bottom: 20px;
	font-size: 16px;
}

.button {
	margin-top: 16px;
	padding: 8px 15px;
	background: white;
	border: 1px solid #707070;
	border-radius: 4px;
	text-transform: uppercase;
}

.button.warning {
	background: pink;
}

.background {

}

.background, .sidebar, .main {
  min-height: calc(100vh - 80px);
}

.sidebar {
	background: rgba(255, 231, 204, 0.75);
	padding: 30px;
	border: 0.5px solid black;
	border-left: none;
	border-bottom: none;
}

.main {
	background-color: #FFE7CC;
	padding: 30px;
	border-top: 0.5px solid black;
}

@media screen and (min-width: 550px) {
	.background {
		display: flex;
	}

	.sidebar {
		flex-basis: 35%;
	}

	.main {
		flex-basis: 65%;
	}
}

@media screen and (min-width: 1024px) {
	.sidebar {
		flex-basis: 25%;
	}
	
	.main {
		flex-basis: 75%;
	}
}

a:link, a:visited {
  color:black;
  text-decoration: none;
}

.rating > .checked {
	color: orange;
	margin-bottom: 10px;
}

.title {
	text-align: center;
  margin-bottom: 70px;
  text-emphasis: bold;
}

.content {
  display: flex;
  flex-direction: row;
}

hr {
  background-color: black;
  border: 0.5px solid black;
  margin-bottom: 10px;
}


button {
	display: block;
}

.main.create-course {
	text-align: center;
}